body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            width: 65%;
            background-color: #FFD0A0;
            margin: 0 auto;
            padding: 0 auto;
            text-align: left;
            }
.header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
            }
.highlightedBlock {
            background-color: #28289C;
            border-radius: 8px;
            padding: 12px;
            line-height: 1.5;
            font-size: 14px;
            width: 100%; # 100% because it is 100% of the bodys width
            margin: 0 auto;
            text-align: left;
            color: FFD0A0;
            }
.commentBlock {
            background-color: #32631f;
            border-radius: 8px;
            padding: 12px;
            line-height: 1.5;
            font-size: 14px;
            width: 100%; # 100% because it is 100% of the bodys width
            margin: 0 auto;
            text-align: left;
            color: FFD0A0;
            }
.testBlock {
            background-color: #2d1769;
            border-radius: 8px;
            padding: 12px;
            line-height: 1.5;
            font-size: 14px;
            width: 100%; # 100% because it is 100% of the bodys width
            margin: 0 auto;
            text-align: left;
            color: FFD0A0;
            }
.standardText {
            font-family: Arial, sans-serif;
            font-size: 14px;
            width: 100%; # 100% because it is 100% of the bodys width
            background-color: #FFD0A0;
            margin: 0 auto;
            padding: 0 auto;
            text-align: left;
            }
.filename { 
            background-color: #f705af;
            position:relative;
            left: 42%;
            width: 16%;
            text-align: center;
            border-radius: 4px;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
            }
.highlighted-text {
            margin-top: 20px;
            }
.copy-button {
            display: block;
            margin-top: 10px;
            padding: 8px 16px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            }
.copy-button:hover {
            background-color: #555;
            }
.tempclass {
            background-color: #28289C;
            border-radius: 8px;
            padding: 12px;
            line-height: 1.5;
            font-size: 14px;
            width: 100%; # 100% because it is 100% of the bodys width
            margin: 0 auto;
            text-align: left;
            color: FFD0A0;
            }
